body {
  margin: 0;
  padding: 20px;
  background: #00D0FF;}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;}

h1 {
  text-align: center;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 20px;}


.form-table {
  width: 100%;
  border-collapse: collapse;}

.form-table td {
  padding: 10px;
  border-bottom: 3px solid #004FF9;}

.form-table td:first-child {
  width: 28%;
  font-weight: bold;
  color: #000000;}

.form-table input {
  width: 100%;
  padding: 10px;
  font-size: 15px;}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;}

.btn {
  padding: 15px 3px;
  border: 3px solid #004FF9;
  background: #87CDFF;
  font-size: 1rem;
  min-width: 150px;
  width: 100%;
  max-width: 200px;}