.frame {
  flex-direction: column;
  height: 814px;
  gap: 50px;
  padding: 20px 200px;
  position: relative;
  aspect-ratio: 1.77;
  background: linear-gradient(
      0deg,
      rgba(0, 208, 255, 0.2) 0%,
      rgba(0, 208, 255, 0.2) 100%
    ),
    linear-gradient(
      180deg,
      rgba(154, 227, 248, 0) 16%,
      rgba(0, 208, 255, 0.2) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.7) 100%
    );
  display: flex;
  align-items: center;
}

.frame .text-wrapper {
  position: relative;
  align-self: stretch;
  height: 150px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .view {
  flex-direction: column;
  width: 856px;
  height: 307px;
  justify-content: center;
  gap: 20px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
  display: flex;
  align-items: center;
}

.frame .div {
  align-self: stretch;
  width: 100%;
  height: 94px;
  margin-top: -2.00px;
  margin-left: -3.00px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
}

.frame .rectangle {
  width: 32.25%;
  top: -3.19%;
  left: 0;
  background-color: #ceebff;
  position: absolute;
  height: 100%;
  border: 3px solid;
  border-color: #004ef8;
}

.frame .rectangle-2 {
  width: 68.46%;
  top: -2.66%;
  left: 31.19%;
  background-color: #ffffff;
  position: absolute;
  height: 100%;
  border: 3px solid;
  border-color: #004ef8;
}

.frame .text-wrapper-2 {
  position: absolute;
  width: 31.55%;
  height: 93.62%;
  top: 0;
  left: 0;
  font-family: "Chonburi-Regular", Helvetica;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .view-2 {
  align-self: stretch;
  width: 100%;
  height: 89px;
  margin-left: -3.00px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
}

.frame .rectangle-3 {
  position: absolute;
  width: 32.25%;
  height: 100%;
  top: -3.37%;
  left: 0;
  background-color: #ceebff;
  border: 3px solid;
  border-color: #004ef8;
}

.frame .rectangle-4 {
  position: absolute;
  width: 68.46%;
  height: 100%;
  top: -2.84%;
  left: 31.19%;
  background-color: #ffffff;
  border: 3px solid;
  border-color: #004ef8;
}

.frame .text-wrapper-3 {
  position: absolute;
  width: 31.55%;
  height: 93.26%;
  top: 0;
  left: 0;
  justify-content: center;
  font-family: "Chonburi-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  align-items: center;
}

.frame .view-3 {
  width: 856px;
  height: 94px;
  margin-left: -3.00px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
}

.frame .component {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.frame .view-4 {
  display: flex;
  width: 354px;
  height: 98px;
  align-items: center;
  gap: 10px;
  margin-top: -3.00px;
  margin-bottom: -3.00px;
  margin-left: -3.00px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
}

.frame .rectangle-5 {
  position: absolute;
  width: 98.31%;
  height: 93.88%;
  top: 0;
  left: 0;
  background-color: #86ccff;
}

.frame .text-wrapper-4 {
  position: relative;
  width: 348px;
  height: 89px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .view-5 {
  display: flex;
  width: 354px;
  height: 98px;
  align-items: center;
  gap: 10px;
  margin-top: -3.00px;
  margin-bottom: -3.00px;
  margin-right: -3.00px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
}
/* Inject original globals.css styles here */

.frame {
  flex-direction: column;
  height: 814px;
  gap: 50px;
  padding: 20px 200px;
  position: relative;
  aspect-ratio: 1.77;
  background: linear-gradient(
      0deg,
      rgba(0, 208, 255, 0.2) 0%,
      rgba(0, 208, 255, 0.2) 100%
    ),
    linear-gradient(
      180deg,
      rgba(154, 227, 248, 0) 16%,
      rgba(0, 208, 255, 0.2) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.7) 100%
    );
  display: flex;
  align-items: center;
}

.frame .text-wrapper {
  position: relative;
  align-self: stretch;
  height: 150px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .view {
  flex-direction: column;
  width: 856px;
  height: 307px;
  justify-content: center;
  gap: 20px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
  display: flex;
  align-items: center;
}

.frame .div {
  align-self: stretch;
  width: 100%;
  height: 94px;
  margin-top: -2.00px;
  margin-left: -3.00px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
  display: flex;
  align-items: stretch;
}

.frame .rectangle {
  width: 32.25%;
  top: -3.19%;
  left: 0;
  background-color: #ceebff;
  position: absolute;
  height: 100%;
  border: 3px solid;
  border-color: #004ef8;
}

.frame .rectangle-2 {
  width: 68.46%;
  background-color: #ffffff;
  border: 3px solid;
  border-color: #004ef8;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  padding: 8px 12px;
  color: #000000;
  outline: none;
}

.frame .rectangle-2:focus {
  border-color: #0066cc;
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.2);
}

.frame .text-wrapper-2 {
  width: 31.55%;
  background-color: #ceebff;
  border: 3px solid;
  border-color: #004ef8;
  font-family: "Chonburi-Regular", Helvetica;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.frame .view-2 {
  align-self: stretch;
  width: 100%;
  height: 89px;
  margin-left: -3.00px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
  display: flex;
  align-items: stretch;
}

.frame .rectangle-3 {
  position: absolute;
  width: 32.25%;
  height: 100%;
  top: -3.37%;
  left: 0;
  background-color: #ceebff;
  border: 3px solid;
  border-color: #004ef8;
}

.frame .rectangle-4 {
  width: 68.46%;
  background-color: #ffffff;
  border: 3px solid;
  border-color: #004ef8;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  padding: 8px 12px;
  color: #000000;
  outline: none;
}

.frame .rectangle-4:focus {
  border-color: #0066cc;
  box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.2);
}

.frame .text-wrapper-3 {
  width: 31.55%;
  background-color: #ceebff;
  border: 3px solid;
  border-color: #004ef8;
  justify-content: center;
  font-family: "Chonburi-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.frame .view-3 {
  width: 856px;
  height: 94px;
  margin-left: -3.00px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
  display: flex;
  align-items: stretch;
}

.frame .component {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.frame .view-4 {
  display: flex;
  width: 354px;
  height: 98px;
  align-items: center;
  gap: 10px;
  margin-top: -3.00px;
  margin-bottom: -3.00px;
  margin-left: -3.00px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
  background-color: #86ccff;
}

.frame .rectangle-5 {
  position: absolute;
  width: 98.31%;
  height: 93.88%;
  top: 0;
  left: 0;
  background-color: #86ccff;
}

.frame .text-wrapper-4 {
  position: relative;
  width: 348px;
  height: 89px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #000000;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}

.frame .text-wrapper-4:hover {
  opacity: 0.9;
}

.frame .text-wrapper-4:active {
  opacity: 0.8;
}

.frame .view-5 {
  display: flex;
  width: 354px;
  height: 98px;
  align-items: center;
  gap: 10px;
  margin-top: -3.00px;
  margin-bottom: -3.00px;
  margin-right: -3.00px;
  position: relative;
  border: 3px solid;
  border-color: #004ef8;
  background-color: #86ccff;
}
