body {
    margin: 0;
    padding: 20px;
    background: #00D0FF;}

.header {
    text-align: center;
    margin-bottom: 40px;}

.auth-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;}

.btn {
    padding: 20px 50px;
    border: 3px solid #004FF9;
    background: #87CDFF;
    font-size: 2rem;}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 20px;}

.photo-container {
    text-align: center;
    margin: 20px 0;}

.custom-photo {
    max-width: 100%;
    height: auto;
    border: 3px solid #004FF9;}

@media (max-width: 800px) {
    .auth-buttons {
        flex-direction: column;
        align-items: center;}
    
    .btn {
        width: 200px;}
    
    h1 {
        font-size: 3rem;}}